<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{'/'}">
            <i class="fa-regular fa-lightbulb"></i>
            Furniture Shop
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{'/'}">
                        <i class="fas fa-home mx-1"></i> Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{'/products'}">
                        <i class="fa-solid fa-couch"></i>
                        Products
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{'/categories'}">
                        <i class="fa-solid fa-list"></i> Categories
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li>
                    <a class="nav-link btn-primary" th:href="@{'/login'}">
                        <i class="fas fa-sign-in-alt"></i> Sign In
                    </a>
                </li>

                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/show-users'}">
                        <i class="fa-solid fa-users"></i> Users
                    </a>
                </li>

                <li>
                    <a class="nav-link btn-primary" th:href="@{'/users/profile/1'}">
                        <i class="fa-solid fa-address-card"></i> Profile
                    </a>
                </li>

                <li>
                    <a class="nav-link" th:href="@{'/cart'}">
                        <i class="fa-solid fa-cart-shopping"></i> Cart
                    </a>
                </li>

                <li class="nav-item">
                    <form id="logout-form" th:action="@{/logout}" method="post">
                        <button type="submit" class="nav-link btn-primary">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h2>Welcome</h2>

</div>

</body>
</html>