<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>

<!--Navigation-->
<nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{'/'}">
            <i class="fa-regular fa-lightbulb"></i>
            Furniture Shop
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{'/'}">
                        <i class="fas fa-home mx-1"></i> Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{'/products'}">
                        <i class="fa-solid fa-couch"></i>
                        Products
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{'/categories'}">
                        <i class="fa-solid fa-list"></i> Categories
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li>
                    <a class="nav-link btn-primary" th:href="@{'/login'}">
                        <i class="fas fa-sign-in-alt"></i> Sign In
                    </a>
                </li>

                <li>
                    <a class="nav-link btn-primary" th:href="@{'/register'}">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </li>

                <li>
                    <a class="nav-link" th:href="@{'/'}">
                        <i class="fa-solid fa-cart-shopping"></i> Cart
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Navigation-->

<div class="container">
    <h2 th:text="'Profile of the user with id #' + ${user.id}">
        Profile of the user with id #1
    </h2>

    <hr/>

    <div class="row">
        <div class="col-md-6">
            <p class="fw-bold">
                Username:
                <span class="fw-normal" th:text="${user.username}">User123</span>
            </p>
            <p class="fw-bold">
                Role:
                <span class="fw-normal" th:text="${role}">ROLE_GUEST</span>
            </p>
            <p class="fw-bold">
                First Name:
                <span class="fw-normal" th:text="${profile.firstName}">Unknown first name</span>
            </p>
            <p class="fw-bold">
                Last Name:
                <span class="fw-normal" th:text="${profile.lastName}">Unknown last name</span>
            </p>
            <p class="fw-bold">
                Phone Number:
                <span class="fw-normal" th:text="${profile.phoneNumber}">0123456789</span>
            </p>
        </div>
    </div>

    <!--  Button to update the profile -->
    <a th:href="@{'/users/edit/' + ${user.id}}"
       class="btn btn-primary btn-sm mb-3">
        Update
    </a>
    <!--  Button to update the profile -->

</div>

</body>
</html>