<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{'/'}">
            <i class="fa-regular fa-lightbulb"></i>
            Furniture Shop
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{'/'}">
                        <i class="fas fa-home mx-1"></i> Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{'/products'}">
                        <i class="fa-solid fa-couch"></i>
                        Products
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{'/categories'}">
                        <i class="fa-solid fa-list"></i> Categories
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li>
                    <a class="nav-link btn-primary" th:href="@{'/login'}">
                        <i class="fas fa-sign-in-alt"></i> Sign In
                    </a>
                </li>

                <li>
                    <a class="nav-link btn-primary" th:href="@{'/show-users'}">
                        <i class="fa-solid fa-users"></i> Users
                    </a>
                </li>

                <li>
                    <a class="nav-link btn-primary" th:href="@{'/users/profile/1'}">
                        <i class="fa-solid fa-address-card"></i> Profile
                    </a>
                </li>

                <li>
                    <a class="nav-link" th:href="@{'/'}">
                        <i class="fa-solid fa-cart-shopping"></i> Cart
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h2>List of orders</h2>

    <hr/>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Total Amount</th>
            <th>Order Date</th>
            <th>Payment Method</th>
        </tr>
        </thead>

        <tr th:each="order, stat : ${orders}"
            th:class="${stat.odd}? 'table-light':''">
            <td th:text="${orders.id}">1</td>
            <td th:text="${orders.userId}">1</td>
            <td th:text="${orders.userId}">1</td>
            <td th:text="${orders.totalAmount}">1</td>
            <td th:text="${orders.orderDate}">1</td>
            <td th:text="${orders.paymentmethod}">1</td>
        </tr>

    </table>

</div>

</body>
</html>